.App{
    text-align: center;
}

.form {
    width: 100%;
    padding: 15px;
    margin: auto;
    margin-top: 10%;
    padding: 0.5em 1em;
    font-weight: bold;
    color: gray;
    background: #FFF;
    border: solid 3px gray;
}

.login {
    max-width: 330px;
}

.create {
    max-width: 500px;
}

.sub{
    margin-top: 1%;
}

.sub a{
    color: gray;
    text-decoration: none;
}

.error{
    color: red;
}

.page{
    margin: 2%;
}

.danger{
    color: red;
}

.list{
    margin: 2%;
}

.element{
    margin: 10px 0;
}
